body{
    font-family: 'Poppins', sans-serif;

}
.paymentIt{
    width: 1000px;
    margin: auto;
    padding-top: 10px;
}
.pay{
 text-align: center;
}
#imageset{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
