body{
    font-family: 'Poppins', sans-serif;

}
.infoIt{
    width: 600px;
    margin: auto;
    padding-bottom: 10px;
 }
.textalign{
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
.imageset{
    padding-right: 200px;
}
table {
    text-align: center;
}