body{
    font-family: 'Poppins', sans-serif;

}
.cartIt{
    margin: auto;
    width: 1300px;
    padding-top: 10px;
}
#buttonSize{
    width:200px;
}
table{
    width: 100%;
}
th.imageIt,th.status,th.title{
   width: 20%;
}

th.price,th.sku,th.notes,th.date{
    width: 10%;
}
.navset{
padding-left: 220px;
padding-right: 210px;
}
.colorIt{
    background-color: white;
    border: 0px;
}

#imageset{
    display: block;
    margin: 0 auto;
    padding: 0px;
}
#searcheverything{
    width: 460px;
}
#styleIt{
    display: inline-block;
}