.template {
  color: #4a86e8 !important;
}

.template .fa-check-square,
.template,
.fa-square {
  font-size: 25px;
}

.template .fa-question-circle {
  font-size: 20px;
}
.form-control {
  border: 1.3px solid #959595;
  border-radius: 5px;
}
.border {
  border-width: 1.3px !important;
  border-style: solid !important;
}

.border-dark {
  border-color: #959595 !important;
}

textarea:focus,
button,
button:focus,
button:active,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.template .label {
  font-size: 13.7px;
  text-transform: uppercase;
}

.measurements .label {
  width: 100px;
}

.measurements .form-control {
  width: 200px;
}
.button-group .btn {
  padding: 0.4em 1.5em;
}

.button-group .btn-secondary {
  background-color: #b7b7b7;
  border: none;
}
.button-group .btn-primary {
  background-color: #4a86e8;
  border: none;
}
