body{
    font-family: 'Poppins', sans-serif;
  }
.settingsIt{
    width: 500px;
    margin: auto;
    padding-top: 50px;
}
#settingsBackground{
    background-color: #cdcdcd;
    text-align: center;
    height: 75px;
    width: 500px;
    padding-top: 10px;
    
}
#profilephoto{
    padding-top: 30px;
    padding-left: 30px;
    
}
.colorIt {
    color:#4a86e8;

  }
  .backgroundIt{
      background-color:#cdcdcd;

  }
 #preferences{
     display: inline;
 }
 #backgroundarrow{
     background-color: #cdcdcd;
 }
 .paddingfornames{
     padding-top: 10px;
 }
 .inlineinname{
     display: inline-block;
 }
 .iconpadding{
     padding-right: 5px;
 }